/* @import 'tailwindcss/base'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* 배너 스와이퍼 버튼 */
  .swiper-button-next {
    background: url(/assets/images/main/ic-banner-button.svg) no-repeat;

    right: 10%;
    background-size: 100% auto;
    transform: scaleX(-1);
  }

  .swiper-button-prev {
    background: url(/assets/images/main/ic-banner-button.svg) no-repeat;

    left: 10%;
    background-size: 100% auto;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  /* 이 상품 어때요 버튼 */
  .swiper-button-next.recommend__button__next {
    background: url(/assets/images/main/arrow.svg) no-repeat;
    top: 30%;
    right: -1.3%;

    background-size: 100% auto;
    transform: scaleX(-1);
  }

  .swiper-button-prev.recommend__button__prev {
    top: 30%;
    left: -2%;
    background: url(/assets/images/main/arrow.svg) no-repeat;
    background-size: 100% auto;
  }

  .recommend__button__prev::after,
  .recommend__button__next ::after {
    display: none;
  }

  .recommend__buttonhidden {
    display: none;
  }
  .recommend__buttonblock {
    display: block;
  }
  /* 호버시 메뉴 리스트 스타일 변경 */
  .category__hover {
    background-color: #e1e1e1;
    color: #5f0080;
    font-weight: bold;
  }
  /* 호버시 네브 메뉴 스타일 변경 */
  .category__titleStyle {
    color: #5f0080;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

@layer base {
  html {
    font-family: Pretendard, system-ui, sans-serif;
  }
  .error-message {
    font-size: 12px;
    line-height: 1;
    display: none;
    margin-top: 1rem;
  }

  .is--invalid + .error-message {
    display: block;
  }  
  .prod__price span {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
  }
  .prod-header__title {
    font-size: 16px;
    font-weight: 400;
    color: #545454;
    line-height: 1.6;
  }
  .itemDescription dl {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
  }
  .itemDescription:last-child {
    border-bottom: none;
  }
  .checkPoint::before {
    width: 100%;
    height: 1px;
    left: 0;
    top: 37px;
    content: '';
    z-index: -1;
    background: #d9d9d9;
  }
  .select__totalPrice::after {
    content: '원';
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
  }
  .sorting__recommend::after {
    content: '';
    height: 50%;
    border-left: 1px solid #595959;
    margin-left: 8px;
    margin-right: 8px;
  }
  .navTitles li {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    width: 263px;
    height: 54px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    background: #f9f9f9;
    border: 1px solid #595959;
  }
  .navTitles li:first-child {
    color: #5f0080;
    border: 1px solid #e1e1e1;
    border-bottom: none;
  }
  .navTitles li:nth-child(2),
  .navTitles li:nth-child(3),
  .navTitles li:last-child {
    border-right: none;
    cursor: pointer;
  }
  .navTitles li:last-child {
    border-right: 1px solid black;
  }
  .contents__info img {
    width: 1050px;
    height: 670px;
    margin-bottom: 76px;
  }
  .contents__info p {
    font-size: 28px;
    font-weight: 600;
    color: black;
    text-align: center;
    line-height: 1.5;
  }
  .contents__info figcaption {
    font-size: 50px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-bottom: 36px;
    line-height: 1.4;
  }
  .prev,
  .next {
    width: 56px;
    height: 56px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
  }
  .customer__post li {
    border-bottom: 1px solid #c4c4c4;
  }
  .container__width {
    width: 1050px;
    margin: auto;
  }
}
.container__width {
  width: 1050px;
  margin: auto;
}

.category__listTitle {
  display: flex;
  gap: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.category__imgStyle {
  width: 1.5rem;
  margin-left: 0.25rem;
}
.category__hidden {
  width: 14.6875rem;
  height: 37.5rem;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  overflow-y: scroll;
  z-index: 1;
}
.menu__listStyle {
  font-size: 1rem;
  font-weight: bold;
}

.footer__Img {
  width: 1.875rem;
  height: 1.875rem;
}
.footer__font {
  font-size: 0.625rem;
  color: #333333;
}
.flex__between {
  display: flex;
  justify-content: space-between;
}
.border__top {
  border-top-width: 1px;
  border-color: #e1e1e1;
}
.footer__logoFlex {
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
}
.footer__bottomFont {
  font-size: 0.625rem;
  color: #898989;
}
.footer__lineHeight {
  line-height: 100%;
}
.footer__btnContent {
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;
  font-size: 0.875rem;
  align-items: center;
}
.footer__itemBtnStyle {
  width: 8rem;
  border: 2px solid #c4c4c4;
  font-size: 1rem;
  text-align: center;
  line-height: 3rem;
}
.footer__wrapperStyle {
  background-color: #f9f9f9;
  padding-top: 2rem;
  padding-bottom: 1.25rem;
}

/* cart */

.cart__title {
  margin: 0 auto;
  margin: 3rem 0;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
}

.food__categorylist {
  display: flow-root;
  padding: 0.9375rem 0.3125rem 0.9375rem 0rem;
  font-size: 1.125rem;
}
.food__categorylist:not(:last-child) {
  border-bottom: 1px solid #333333;
}
.food__img {
  float: left;
  padding-right: 0.625rem;
}
.arrow__down {
  float: right;
  margin-right: 0.3rem;
}
.arrow__down img {
  width: 16px;
}
.checkbox__img {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  left: 2px;
  background: url(../assets/images/cart/ic-checked-false.svg) no-repeat 0 0/24px;
  vertical-align: baseline;
}
.checkbox__allSelect:checked + label .checkbox__img {
  background: url(../assets/images/cart/ic-checked-true.svg) no-repeat 0 0/24px;
}
.cart__deliveryLocation {
  background: url(../assets/images/cart/Location.svg) no-repeat 0 0/24px;
}
.cart__payment {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.cart__paymentPrice {
  font-size: 1.125rem;
}
.unit {
  font-size: 0.9375rem;
}

/* 선택 상품 리스트 */
.selectGoods {
  margin-top: 20px;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
}
.checkbox__label {
  padding-left: 4px;
}
.selectGoods__checkboxWrapper {
  padding-left: 5px;
}
.selectGoods__goodsImg {
  padding-left: 1.5rem;
}
.selectGoods__goodsImg figcaption {
  padding-left: 14px;
  font-size: 1rem;
  font-weight: 600;
}
.alignCenter {
  display: flex;
  align-items: center;
}
.selectGoods__buttons {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}
.selectGoods__button {
  width: 28px;
  height: 28px;
}
.selectGoods__totalPriceWrapper {
  padding-left: 5rem;
  padding-right: 0.625rem;
}
.selectGoods__totalPrice {
  font-size: 16px;
  font-weight: 600;
}
.selectGoods__discount {
  text-align: end;
  text-decoration: line-through;
  color: #c4c4c4;
}
.cart__minus {
  background: url(../assets/images/main/Minus.svg);
}
.cart__minusBlack {
  background: url(../assets/images/main/Minus-black.svg);
}
.cart__plus {
  background: url(../assets/images/main/Plus.svg);
}
