<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="아쉬워 벌써 12시" />
    <meta name="keywords" content="칼리,베스트,탱탱쫄면,선쿠션,세탁세제" />
    <meta name="description" content="칼리 베스트 상품입니다." />
    <title>칼리 - 베스트</title>
    <link
      rel="shortcut icon"
      href="https://res.kurly.com/favicon.ico"
      type="res/ico"
    />
    <link
      rel="preload"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css"
    />
    <link rel="stylesheet" href="/style/main.css" />
  </head>

  <body>
    <div class="headerAllWrapper">
      <div class="promotion">
        <div class="promotion__wrapper">
          <a href="/" class="promotion__link">
            지금 가입하고 인기상품 <strong>100원</strong>에 받아 가세요!
          </a>
          <button class="promotion__button">
            <img
              src="/assets/cart/ic-cancel.svg"
              alt="광고 닫기"
              class="promotion__button__img"
            />
          </button>
        </div>
      </div>
      <div class="headerWrapper">
        <header>
          <h1 class="a11y">칼리</h1>
          <div class="logo">
            <img src="/assets/header/logo-kurly.svg" alt="" class="logo__img" />
            <a href="/" class="logo__link__market primary-color">마켓칼리</a>
            <span class="divider" aria-hidden="true">ㅣ</span>
            <a href="/" class="logo__link__beauty">뷰티칼리</a>
            <img src="/assets/header/new.svg" alt="" class="logo__img__new" />
          </div>
          <div class="memberOnly">
            <ul class="memberOnly__wrapper">
              <li>
                <a href="/" class="primary-color">회원가입</a>
              </li>
              <li>
                <span class="divider" aria-hidden="true">ㅣ</span>
                <a href="/">로그인</a>
              </li>
              <li>
                <span class="divider" aria-hidden="true">ㅣ</span>
                <a href="/"
                  >고객센터
                  <img
                    src="/assets/header/down.svg"
                    alt=""
                    class="memberOnly__down"
                  />
                </a>
              </li>
            </ul>
          </div>
          <nav class="navi">
            <div class="menu">
              <div class="menu__button">
                <h2>
                  <a href="/" class="menu__button__category">
                    <img
                      src="/assets/header/Hamburger.svg"
                      alt=""
                      class="menu__button__img"
                    />카테고리</a
                  >
                </h2>
                <ul class="category">
                  <li class="category__list">
                    <span class="sprite sprite__gift"></span
                    ><a href="#" class="category__link">선물하기</a>
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__vegetable"></span
                    ><a href="#" class="category__link">채소</a>
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__friut"></span
                    ><a href="#" class="category__link"
                      >과일&bull;견과&bull;쌀</a
                    >
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__fish"></span
                    ><a href="#" class="category__link"
                      >수산&bull;해산&bull;건어물</a
                    >
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__meat"></span
                    ><a href="#" class="category__link">정육&bull;계란</a>
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__soup"></span
                    ><a href="#" class="category__link"
                      >국&bull;반찬&bull;메인요리</a
                    >
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__salad"></span
                    ><a href="#" class="category__link">샐러드&bull;간편식</a>
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__noodles"></span
                    ><a
                      href="./../views/product-detail.html"
                      class="category__link"
                      >면&bull;양념&bull;오일</a
                    >
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__water"></span
                    ><a href="#" class="category__link"
                      >생수&bull;음료&bull;우유&bull;커피</a
                    >
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__snack"></span
                    ><a href="#" class="category__link"
                      >간식&bull;과자&bull;떡</a
                    >
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__bakery"></span
                    ><a href="#" class="category__link"
                      >베이커리&bull;치즈&bull;델리</a
                    >
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__health"></span
                    ><a href="#" class="category__link">건강식품</a>
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__wine"></span
                    ><a href="#" class="category__link">와인</a>
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__tradition"></span
                    ><a href="#" class="category__link">전통주</a>
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__living"></span
                    ><a href="#" class="category__link"
                      >생활용품&bull;리빙&bull;캠핑</a
                    >
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__skin"></span
                    ><a href="#" class="category__link"
                      >스킨케어&bull;메이크업</a
                    >
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__hair"></span
                    ><a href="#" class="category__link"
                      >헤어&bull;바디&bull;구강</a
                    >
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__kitchen"></span
                    ><a href="#" class="category__link">주방용품</a>
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__appliances"></span
                    ><a href="#" class="category__link">가전제품</a>
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__pet"></span
                    ><a href="#" class="category__link">반려동물</a>
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__baby"></span
                    ><a href="#" class="category__link"
                      >베이비&bull;키즈&bull;완구</a
                    >
                  </li>
                  <li class="category__list">
                    <span class="sprite sprite__travel"></span
                    ><a href="#" class="category__link">여행&bull;티켓</a>
                  </li>
                </ul>
              </div>
              <h2 class="a11y">메뉴</h2>
              <ul class="menu__list">
                <li class="menu__item">
                  <a href="/" class="menu__link">신상품</a>
                </li>
                <li class="menu__item">
                  <a href="/views/product-list.html" class="menu__link"
                    >베스트</a
                  >
                </li>
                <li class="menu__item">
                  <a href="/" class="menu__link">알뜰쇼핑</a>
                </li>
                <li class="menu__item">
                  <a href="/" class="menu__link">특가/혜택</a>
                </li>
              </ul>
              <div class="menu__delivery">
                <a href="/"
                  ><span class="primary-color">샛별&nbsp;&bull;&nbsp;낮</span
                  ><span class="gray-500"> 배송안내</span></a
                >
              </div>
            </div>
            <form action="/" method="get" class="searchForm">
              <fieldset>
                <legend>검색</legend>
                <div class="searchForm__group">
                  <div class="formInput">
                    <label for="search" class="a11y formInput__label"
                      >검색어</label
                    >
                    <input
                      id="search"
                      class="formInput__input"
                      type="search"
                      required
                      placeholder="검색어를 입력해주세요."
                      name="search"
                    />
                  </div>
                  <button type="submit" class="searchButton">
                    <img src="/assets/header/Search.svg" alt="검색" />
                  </button>
                </div>
              </fieldset>
            </form>
            <div class="buttons">
              <a
                href="/"
                class="buttons__address"
                title="배송지"
                aria-label="배송지 등록"
              >
                <img
                  src="/assets/header/Location.svg"
                  alt=""
                  class="buttons__address__img"
                />
              </a>
              <a href="/" class="buttons__heart" aria-label="찜하기">
                <img
                  src="/assets/header/Heart.svg"
                  alt=""
                  class="buttons__heart__img"
                />
              </a>
              <a
                href="/views/cart.html"
                class="buttons__cart"
                aria-label="장바구니"
              >
                <img
                  src="/assets/header/Cart.svg"
                  alt=""
                  class="buttons__cart__img"
                />
              </a>
            </div>
          </nav>
        </header>
      </div>
    </div>
    <h2 class="cart">장바구니</h2>
    <main class="cartWrapper">
      <section class="cart__accordion">
        <input type="checkbox" class="cart__check" name="chk" id="chk_1" />
        <label for="chk_1" class="cart__label">
          <span class="selectAll"
            >전체선택 (3/3)
            <span aria-hidden="true">|</span>
            선택삭제</span
          >
        </label>
        <ul class="foodCategory">
          <li class="food__categorylist">
            <img
              src="/assets/cart/ic-cold.svg"
              alt=""
              aria-labelledby="food__cold"
            />
            <span id="food__cold" class="food__text">냉장 식품</span>
            <button type="button" class="arrow__down">
              <img
                src="/assets/product-list/ic-arrow-down.svg"
                alt="아래로 펼치기"
              />
            </button>
          </li>
          <li class="food__categorylist">
            <img
              src="/assets/cart/ic-frozen.svg"
              alt=""
              aria-labelledby="food__frozen"
            />
            <span id="food__frozen" class="food__text">냉동 식품</span>
            <button type="button" class="arrow__down">
              <img
                src="/assets/product-list/ic-arrow-down.svg"
                alt="아래로 펼치기"
              />
            </button>
          </li>
          <li class="food__categorylist">
            <img
              src="/assets/cart/ic-temperature.svg"
              alt=""
              aria-labelledby="food__temperature"
            />
            <span id="food__temperature" class="food__text">상온 식품</span>
            <button type="button" class="arrow__down">
              <img
                src="/assets/product-list/ic-arrow-down.svg"
                alt="아래로 펼치기"
              />
            </button>
          </li>
        </ul>
        <input type="checkbox" class="cart__check" name="chk" id="chk_2" />
        <label for="chk_2" class="cart__label">
          <span class="selectAll"
            >전체선택 (3/3)
            <span aria-hidden="true">|</span>
            선택삭제</span
          >
        </label>
      </section>
      <section class="craditWrapper">
        <div class="cradit">
          <div class="delivery__info">
            <p class="delivery__location">배송지</p>
            <p class="delivery__address">
              서울 중랑구 면목로 42길 11 (행운빌딩) 603호
            </p>
            <p class="delivery__type">샛별배송</p>
            <button type="button" class="delivery__chage">배송지 변경</button>
          </div>
          <div class="payment__info">
            <dl>
              <dt class="pay__list">상품금액</dt>
              <dd class="pay__info">40,680</dd>
            </dl>
            <dl>
              <dt class="pay__list">상품할인금액</dt>
              <dd class="pay__info">-4,651</dd>
            </dl>
            <dl>
              <dt class="pay__list">배송비</dt>
              <dd class="pay__info">+3,000</dd>
            </dl>
            <div class="payment">
              <div class="payment__total">
                <p class="payment__price">결제예정금액</p>
                <span>40,680</span>
              </div>
              <p class="membership__point">
                <span>적립</span>최대 36원 적립 일반 0.1%
              </p>
            </div>
          </div>
        </div>
        <button type="button" class="order-button">주문하기</button>
        <div class="couponInfo">
          <p class="couponInfo__list">
            쿠폰/적립금은 주문서에서 사용 가능합니다
          </p>
          <p class="couponInfo__list">
            [주문완료] 상태일 경우에만 주문 취소 가능합니다.
          </p>
          <p class="couponInfo__list">
            [마이컬리 > 주문내역 상세페이지] 에서 직접 취소하실 수 있습니다.
          </p>
          <p class="couponInfo__list">
            쿠폰, 적립금 사용 금액을 제외한 실 결제 금액 기준으로 최종
            산정됩니다.
          </p>
          <p class="couponInfo__list">
            상품별로 적립금 지급 기준이 다를 수 있습니다. (상품 상세 페이지에서
            확인 가능합니다)
          </p>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__inner">
        <div class="footer__innerTop">
          <div class="footer__service">
            <h2 class="footer__serviceTitle">고객행복센터</h2>
            <div class="footer__serviceInfo">
              <p class="footer__serviceNumber">1644-1107</p>
              <p class="footer__serviceTime">월~토요일 오전 7시 - 오후 6시</p>
            </div>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__itemButton" href="#">카카오톡 문의</a>
                <div>
                  <p>
                    <span>월~토요일</span>
                    <span class="divider" aria-hidden="true">|</span>
                    <span>오전 7시 - 오후 6시</span>
                  </p>
                  <p>
                    <span>일/공휴일</span>
                    <span class="divider" aria-hidden="true">|</span>
                    <span>오전 7시 - 오후 1시</span>
                  </p>
                </div>
              </li>
              <li class="footer__item">
                <a class="footer__itemButton" href="#">1:1 문의</a>
                <div>
                  <p><span>365일</span></p>
                  <p>
                    <span
                      >고객센터 운영시간에 순차적으로 답변드리겠습니다.</span
                    >
                  </p>
                </div>
              </li>
              <li class="footer__item">
                <a class="footer__itemButton" href="#">대량주문 문의</a>
                <div>
                  <p>
                    <span>월~금요일</span>
                    <span class="divider" aria-hidden="true">|</span>
                    <span>오전 9시 - 오후 6시</span>
                  </p>
                  <p>
                    <span>점심시간</span>
                    <span class="divider" aria-hidden="true">|</span>
                    <span>낮 12시 - 오후 1시</span>
                  </p>
                </div>
              </li>
            </ul>
            <div class="footer__mail">
              <p>
                비회원 문의 :
                <a href="/" class="primaryColor">help@karlycorp.com</a>
              </p>
              <p>
                비회원 대량주문 문의 :
                <a href="/" class="primaryColor">help@karlycorp.com</a>
              </p>
            </div>
          </div>
          <div class="footer__about">
            <ul class="footer__clause">
              <li><a href="/">칼리소개</a></li>
              <li><a href="/">칼리소개영상</a></li>
              <li><a href="/">인재채용</a></li>
              <li><a href="/">이용약관</a></li>
              <li><a href="/">개인정보처리방침</a></li>
              <li><a href="/">이용안내</a></li>
            </ul>
            <div class="footer__address">
              <span>법인명(상호) : 주식회사 컬리</span>
              <span class="divider" aria-hidden="true">|</span>
              <span>사업자등록번호 : 261-81-23567</span>
              <span class="divider" aria-hidden="true">|</span>
              <a class="primaryColor" href="#">사업자정보확인</a>
              <br />
              <span>통신판매업 : 제 2018-서울강남-01646 호</span>
              <span class="divider" aria-hidden="true">|</span>
              <span>개인정보보호책임자 : 이원준</span>
              <br />
              <span>주소 : 서울특별시 강남구 테헤란로 133, 18층(역삼동)</span>
              <span class="divider" aria-hidden="true">|</span>
              <span>대표이사 : 김슬아</span>
              <br />
              <span>입점문의 : 입점문의하기</span>
              <span class="divider" aria-hidden="true">|</span>
              <span
                >제휴문의 :
                <a class="primaryColor" href="mailto:business@karlycorp.com"
                  >business@karlycorp.com</a
                ></span
              >
              <br />
              <span
                >채용 문의 :
                <a class="primaryColor" href="mailto:recruit@karlycorp.com"
                  >recruit@karlycorp.com</a
                ></span
              >
              <br />
              <span>팩스 : 070 - 7500 - 6098</span>
            </div>
            <div>
              <ul class="footer__snsList">
                <li class="footer__snsItem">
                  <a target="_blank" href="/"
                    ><img
                      class="footer__snsImg"
                      src="/assets/footer/ic-blog.svg"
                      alt="컬리 네이버블로그 바로가기"
                  /></a>
                </li>
                <li class="footer__snsItem">
                  <a target="_blank" href="/"
                    ><img
                      class="footer__snsImg"
                      src="/assets/footer/ic-face-book.svg"
                      alt="컬리 페이스북 바로가기"
                  /></a>
                </li>
                <li class="footer__snsItem">
                  <a target="_blank" href="/"
                    ><img
                      class="footer__snsImg"
                      src="/assets/footer/ic-instagram.svg"
                      alt="컬리 인스타그램 바로가기"
                  /></a>
                </li>
                <li class="footer__snsItem">
                  <a target="_blank" href="/"
                    ><img
                      class="footer__snsImg"
                      src="/assets/footer/ic-naver-post.svg"
                      alt="컬리 네이버 바로가기"
                  /></a>
                </li>
                <li class="footer__snsItem">
                  <a target="_blank" href="/"
                    ><img
                      class="footer__snsImg"
                      src="/assets/footer/ic-youtube.svg"
                      alt="컬리 유튜브 바로가기"
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__middle">
          <ul class="footer__logoList">
            <li>
              <a href="#" target="_blank" class="footer__logoItem">
                <img
                  class="footer__logoImg"
                  src="/assets/footer/logo-isms.svg"
                  alt="ISMS 로고"
                />
                <p class="footer__logoInfo">
                  [인증범위] 마켓칼리 쇼핑몰 서비스 개발 운영
                  <br />
                  (심사받지 않은 물리적 인프라 제외)
                  <br />
                  [유효기간] 2022.01.19 ~ 2025.01.18
                </p>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" class="footer__logoItem">
                <img
                  class="footer__logoImg"
                  src="/assets/footer/logo-privacy.svg"
                  alt="개인정보보호 인증 로고"
                />
                <p class="footer__logoInfo">
                  개인정보보호 우수 웹사이트<br />
                  개인정보처리시스템 인증(ePRIVACY PLUS)
                </p>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" class="footer__logoItem">
                <img
                  class="footer__logoImg"
                  src="/assets/footer/logo-tosspayments.svg"
                  alt="payments 로고"
                />
                <p class="footer__logoInfo">
                  토스페이먼츠 구매안전(에스크로) 서비스<br />
                  를 이용하실 수 있습니다.
                </p>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" class="footer__logoItem">
                <img
                  class="footer__logoImg"
                  src="/assets/footer/logo-woori-bank.svg"
                  alt="우리은행 로고"
                />
                <p class="footer__logoInfo">
                  고객님이 현금으로 결제한 금액에 대해 우리은행과
                  <br />채무지급보증 계약을 체결하여 안전거래를 보장하고
                  <br />있습니다.
                </p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__bottom">
        <p>
          마켓컬리에서 판매되는 상품 중에는 마켓컬리에 입점한 개별 판매자가
          판매하는 마켓플레이스(오픈마켓) 상품이 포함되어 있습니다.
        </p>
        <p>
          마켓플레이스(오픈마켓) 상품의 경우 컬리는 통신판매중개자로서
          통신판매의 당사자가 아닙니다. 컬리는 해당 상품의 주문, 품질, 교환/환불
          등 의무와 책임을 부담하지 않습니다.
        </p>
        <br />
        <p>&copy; KURLY CORP. ALL RIGHTS RESERVED</p>
      </div>
    </footer>
  </body>
</html>
