<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="아쉬워 벌써 12시" />
    <meta name="keywords" content="칼리,베스트,탱탱쫄면,선쿠션,세탁세제" />
    <meta name="description" content="칼리 베스트 상품입니다." />
    <title>칼리 - 베스트</title>
    <link rel="shortcut icon" href="https://res.kurly.com/favicon.ico" type="res/ico" />
    <link
      rel="preload"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <!-- <script type="module" src="./../js/main.js"></script> -->
    <script type="module" src="./../js/cart.js"></script>
  </head>

  <body>
    <div class="headerAllWrapper shadow-[0_4px_24px_0_rgba(0,0,0,0.10)]">
      <div class="promotion h-[3.125rem] bg-primary">
        <div
          class="promotion__wrapper container__width relative flex h-full items-center justify-center">
          <a href="/" class="promotion__link text-white">
            지금 가입하고 인기상품
            <strong>100원</strong>
            에 받아 가세요!
          </a>
          <button class="promotion__button absolute right-0">
            <img
              src="/assets/images/cart/ic-cancel.svg"
              alt="광고 닫기"
              class="promotion__button__img" />
          </button>
        </div>
      </div>
      <div class="headerWrapper container__width relative">
        <header class="header">
          <h1 class="a11y sr-only">칼리</h1>
          <div class="logo gap-[6.75rem] pb-5 pt-[4.375rem] align-middle text-lg">
            <img src="/assets/images/header/logo-kurly.svg" alt="" class="logo__img inline-block" />
            <a href="/" class="logo__link__market primary-color font-bold text-primary">
              마켓칼리
            </a>
            <span class="divider text-gray-200" aria-hidden="true">ㅣ</span>
            <a href="/" class="logo__link__beauty font-semibold text-gray-400 hover:text-primary">
              뷰티칼리
            </a>
            <img
              src="/assets/images/header/new.svg"
              alt=""
              class="logo__img__new absolute top-[3.9375rem] inline-block" />
          </div>

          <div class="memberOnly container__width text-sm">
            <ul class="memberOnly__wrapper absolute right-0 top-[0.75rem] flex justify-end">
              <li>
                <a href="./sign-up.html" class="text-primary">회원가입</a>
              </li>
              <li>
                <span class="divider text-gray-400" aria-hidden="true">ㅣ</span>
                <a href="./login.html">로그인</a>
              </li>
              <li>
                <span class="divider text-gray-400" aria-hidden="true">ㅣ</span>
                <a href="/">
                  고객센터
                  <img
                    src="/assets/images/header/down.svg"
                    alt=""
                    class="memberOnly__down inline-block w-2" />
                </a>
              </li>
            </ul>
          </div>
          <form action="/" method="get" class="searchForm">
            <fieldset>
              <legend class="sr-only">검색</legend>
              <div class="searchForm__group absolute left-[21.5625rem] top-8">
                <div class="formInput pt-6">
                  <label for="search" class="formInput__label sr-only"> 검색어 </label>
                  <input
                    id="search"
                    class="formInput__input focus: relative w-[25rem] rounded border-[0.0625rem] border-primary pb-3 pl-5 pr-5 pt-3 text-lg text-content outline-none"
                    type="search"
                    required
                    placeholder="검색어를 입력해주세요."
                    name="search" />
                  <button type="submit" class="searchButton absolute right-2 top-9">
                    <img src="/assets/images/header/Search.svg" alt="검색" />
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
          <ul class="buttons absolute right-0 top-[4.375rem] flex gap-5">
            <li class="buttons__list">
              <a href="/" class="buttons__address" title="배송지" aria-label="배송지 등록">
                <img
                  src="/assets/images/header/Location.svg"
                  alt=""
                  class="buttons__address__img" />
              </a>
            </li>
            <li class="buttons__list">
              <a href="/" class="buttons__heart" aria-label="찜하기">
                <img src="/assets/images/header/Heart.svg" alt="" class="buttons__heart__img" />
              </a>
            </li>
            <li class="buttons__list">
              <a href="/views/cart.html" class="buttons__cart" aria-label="장바구니">
                <img src="/assets/images/header/Cart.svg" alt="" class="buttons__cart__img" />
              </a>
            </li>
          </ul>

          <nav class="navi pb-4 pt-4">
            <div class="menu flex__between">
              <div class="menu__button pt-2">
                <h2>
                  <button
                    class="menu__button__category menu__listStyle hover:underline-offset-2hover:text-primary hover:text-primary hover:underline hover:underline-offset-2">
                    <img
                      src="/assets/images/header/Hamburger.svg"
                      alt=""
                      class="menu__button__img mr-2 inline-block pb-1 pl-2" />
                    카테고리
                  </button>
                </h2>
                <ul class="category category__hidden absolute top-48 hidden">
                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navGift.png" alt="선물" />
                    </div>
                    <span class="sprite sprite__gift"></span>
                    <a href="#" class="category__link text-base">선물하기</a>
                  </li>

                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navVegetable.png" alt="채소" />
                    </div>
                    <span class="sprite sprite__vegetable"></span>
                    <a href="#" class="category__link text-base">채소</a>
                  </li>
                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navFruit.png" alt="과일, 견과, 쌀" />
                    </div>

                    <span class="sprite sprite__friut"></span>
                    <a href="#" class="category__link text-base"> 과일&bull;견과&bull;쌀 </a>
                  </li>

                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navFish.png" alt="수산, 해산, 건어물" />
                    </div>
                    <span class="sprite sprite__fish"></span>
                    <a href="#" class="category__link text-base"> 수산&bull;해산&bull;건어물 </a>
                  </li>

                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navMeat.png" alt="정육, 계란" />
                    </div>
                    <span class="sprite sprite__meat"></span>
                    <a href="#" class="category__link text-base">정육&bull;계란</a>
                  </li>
                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navMaindish.png" alt="국, 반찬, 메인요리" />
                    </div>
                    <span class="sprite sprite__soup"></span>
                    <a href="#" class="category__link text-base"> 국&bull;반찬&bull;메인요리 </a>
                  </li>

                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navSalad.png" alt="샐러드, 간편식" />
                    </div>
                    <span class="sprite sprite__salad"></span>
                    <a href="#" class="category__link text-base">샐러드&bull;간편식</a>
                  </li>

                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navSpice.png" alt="면, 양념, 오일" />
                    </div>
                    <span class="sprite sprite__noodles"></span>
                    <a href="./../views/product-detail.html" class="category__link text-base">
                      면&bull;양념&bull;오일
                    </a>
                  </li>
                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navDrink.png" alt="생수, 음료, 우유, 커피" />
                    </div>
                    <span class="sprite sprite__water"></span>
                    <a href="#" class="category__link text-base">
                      생수&bull;음료&bull;우유&bull;커피
                    </a>
                  </li>

                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navDessert.png" alt="간식, 과자, 떡" />
                    </div>
                    <span class="sprite sprite__snack"></span>
                    <a href="#" class="category__link text-base"> 간식&bull;과자&bull;떡 </a>
                  </li>
                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navBread.png" alt="베이커리, 치즈, 델리" />
                    </div>
                    <span class="sprite sprite__bakery"></span>
                    <a href="#" class="category__link text-base"> 베이커리&bull;치즈&bull;델리 </a>
                  </li>

                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navHealth.png" alt="건강 식품" />
                    </div>
                    <span class="sprite sprite__health"></span>
                    <a href="#" class="category__link text-base">건강식품</a>
                  </li>

                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navWine.png" alt="와인" />
                    </div>
                    <span class="sprite sprite__wine"></span>
                    <a href="#" class="category__link text-base">와인</a>
                  </li>

                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navTraditionalDrink.png" alt="전통주" />
                    </div>
                    <span class="sprite sprite__tradition"></span>
                    <a href="#" class="category__link text-base">전통주</a>
                  </li>

                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navLiving.png" alt="생활용품, 리빙, 캠핑" />
                    </div>
                    <span class="sprite sprite__living"></span>
                    <a href="#" class="category__link text-base"> 생활용품&bull;리빙&bull;캠핑 </a>
                  </li>

                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navBeauty.png" alt="스킨케어, 메이크업" />
                    </div>
                    <span class="sprite sprite__skin"></span>
                    <a href="#" class="category__link text-base"> 스킨케어&bull;메이크업 </a>
                  </li>
                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navBody.png" alt="헤어, 바디, 구강" />
                    </div>
                    <span class="sprite sprite__hair"></span>
                    <a href="#" class="category__link text-base"> 헤어&bull;바디&bull;구강 </a>
                  </li>

                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navKitchen.png" alt="주방용품" />
                    </div>
                    <span class="sprite sprite__kitchen"></span>
                    <a href="#" class="category__link text-base">주방용품</a>
                  </li>
                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navHomeAppliances.png" alt="가전제품" />
                    </div>
                    <span class="sprite sprite__appliances"></span>
                    <a href="#" class="category__link text-base">가전제품</a>
                  </li>
                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navPet.png" alt="반려동물" />
                    </div>
                    <span class="sprite sprite__pet"></span>
                    <a href="#" class="category__link text-base">반려동물</a>
                  </li>
                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navBaby.png" alt="베이비, 키즈, 완구" />
                    </div>
                    <span class="sprite sprite__baby"></span>
                    <a href="#" class="category__link text-base"> 베이비&bull;키즈&bull;완구 </a>
                  </li>
                  <li class="category__list category__listTitle">
                    <div class="category__img category__imgStyle">
                      <img src="/assets/images/header/navTrip.png" alt="여행, 티켓" />
                    </div>
                    <span class="sprite sprite__travel"></span>
                    <a href="#" class="category__link text-base">여행&bull;티켓</a>
                  </li>
                </ul>
              </div>
              <h2 class="a11y sr-only">메뉴</h2>
              <ul class="menu__list flex gap-[6.75rem] pt-2">
                <li class="menu__item">
                  <a
                    href="/"
                    class="menu__link menu__listStyle hover:text-primary hover:underline hover:underline-offset-2">
                    신상품
                  </a>
                </li>
                <li class="menu__item">
                  <a
                    href="/views/product-list.html"
                    class="menu__link menu__listStyle hover:text-primary hover:underline hover:underline-offset-2">
                    베스트
                  </a>
                </li>
                <li class="menu__item">
                  <a
                    href="/"
                    class="menu__link menu__listStyle hover:text-primary hover:underline hover:underline-offset-2">
                    알뜰쇼핑
                  </a>
                </li>
                <li class="menu__item">
                  <a
                    href="/"
                    class="menu__link menu__listStyle hover:text-primary hover:underline hover:underline-offset-2">
                    특가/혜택
                  </a>
                </li>
              </ul>
              <div
                class="menu__delivery rounded-2xl border-[0.125rem] border-gray-300 pb-1 pl-2 pr-2 pt-1">
                <a href="/">
                  <span class="primary-color text-sm text-primary"> 샛별&nbsp;&bull;&nbsp;낮 </span>
                  <span class="gray-500 text-sm">배송안내</span>
                </a>
              </div>
            </div>
          </nav>
        </header>
      </div>
    </div>
    <main class="cart">
      <h2 class="cart__title title">장바구니</h2>
      <section class="cart__container relative m-auto h-[1000px] w-container font-medium">
        <section
          class="cart__shoppingCartList absolute w-[742px] pr-5"
          aria-label="구매할 상품 선택">
          <div class="checkbox relative border-b border-black py-4 pl-7">
            <input
              type="checkbox"
              class="checkbox__allSelect hidden"
              name="checkbox__allSelect"
              id="checkbox_1" />
            <label for="checkbox_1" class="checkbox__label pl-1">
              <span class="checkbox__img"></span>
              <span class="checkbox__selectDelete">전체선택 (3/3)</span>
            </label>
            <span aria-hidden="true" class="p-3 text-gray-300">|</span>
            <span class="checkbox__selectDelete cursor-default">선택삭제</span>
          </div>
          <ul class="foodCategory">
            <li class="food__categorylist">
              <img src="/assets/images/cart/ic-cold.svg" alt="냉장 상품 아이콘" class="food__img" />

              <span id="food__cold" class="food__text leading-[30px]">냉장 상품</span>
              <button type="button" class="arrow__down float-right mt-3">
                <img src="/assets/images/common/ic-vector-bottom.svg" alt="아래로 펼치기" />
              </button>
              <!-- 선택 상품 리스트 -->
              <ul class="selectGoods">
                <li class="selectGoods__leftLi alignCenter">
                  <div class="selectGoods__checkboxWrapper">
                    <input
                      type="checkbox"
                      class="checkbox__allSelect hidden"
                      name="checkbox__allSelect"
                      id=" checkbox_food1" />
                    <label for=" checkbox_food1" class="checkbox__label selectGoods__label">
                      <span class="checkbox__img"></span>
                    </label>
                  </div>
                  <figure class="selectGoods__goodsImg alignCenter">
                    <img src="./../assets/jukkumi/thumbnail.jpg" alt="" width="60px" />
                    <figcaption>
                      <h3>[비비고] 쭈꾸미</h3>
                    </figcaption>
                  </figure>
                </li>
                <li class="selectGoods__rightLi alignCenter">
                  <div class="selectGoods__buttons alignCenter">
                    <button class="selectGoods__button cart__minus"></button>
                    <button class="selectGoods__button cart__num">1</button>
                    <button class="selectGoods__button cart__plus"></button>
                  </div>
                  <div class="selectGoods__totalPriceWrapper">
                    <p class="selectGoods__totalPrice">3,000<span>원</span></p>
                    <p class="selectGoods__discount">4,000<span>원</span></p>
                  </div>
                  <button class="selectGoods__deleteButton">
                    <img src="./../assets/images/cart/ic-cancel.svg" alt="삭제" />
                  </button>
                </li>
              </ul>
            </li>
            <li class="food__categorylist">
              <img
                src="/assets/images/cart/ic-frozen.svg"
                alt="냉동 상품 아이콘"
                class="food__img" />
              <span id="food__frozen" class="food__text leading-[30px]">냉동 상품</span>
              <button type="button" class="arrow__down float-right mt-3">
                <img src="/assets/images/common/ic-vector-bottom.svg" alt="아래로 펼치기" />
              </button>
            </li>
            <li class="food__categorylist">
              <img
                src="/assets/images/cart/ic-temperature.svg"
                alt="상온 상품 아이콘"
                class="food__img" />
              <span id="food__temperature" class="food__text leading-[30px]">상온 상품</span>
              <button type="button" class="arrow__down float-right mt-3">
                <img src="/assets/images/common/ic-vector-bottom.svg" alt="아래로 펼치기" />
              </button>
            </li>
          </ul>
          <div class="checkbox relative border-t border-gray-200 py-4 pl-7">
            <input
              type="checkbox"
              class="checkbox__allSelect hidden"
              name="checkbox__allSelect"
              id="checkbox_2" />
            <label for="checkbox_2" class="checkbox__label pl-1">
              <span class="checkbox__img"></span>
              <span class="checkbox__selectDelete">전체선택 (3/3)</span>
            </label>
            <span aria-hidden="true" class="p-3 text-gray-300">|</span>
            <span class="checkbox__selectDelete cursor-default">선택삭제</span>
          </div>
        </section>
        <section class="cart__paymentSection sticky left-full top-6 w-[282px] bg-white">
          <div class="cart__orderWrapper break-words border border-gray-100">
            <div class="cart__deliveryInfo border-b border-gray-100 p-[20px]">
              <h3 class="cart__deliveryLocation w-[70px] pb-2 text-end">배송지</h3>
              <p class="cart__deliveryAddress pb-2">서울 중랑구 면목로 42길 11 (행운빌딩) 603호</p>
              <p class="cart__deliveryType pb-2 text-[14px] text-primary">샛별배송</p>
              <button
                type="button"
                class="cart__deliveryChange h-[36px] w-full rounded-[4px] border border-primary bg-white text-sm font-semibold text-primary">
                배송지 변경
              </button>
            </div>
            <div class="cart__paymentInfo border-b border-gray-100 bg-gray-50 p-[20px]">
              <dl class="cart__payment">
                <dt class="cart__paymentList">상품금액</dt>
                <dd class="cart__paymentPrice">40,680 <span class="unit">원</span></dd>
              </dl>
              <dl class="cart__payment">
                <dt class="cart__paymentList">상품할인금액</dt>
                <dd class="cart__paymentPrice">-4,651 <span class="unit">원</span></dd>
              </dl>
              <dl class="cart__payment">
                <dt class="cart__paymentList">배송비</dt>
                <dd class="cart__paymentPrice">+3,000 <span class="unit">원</span></dd>
              </dl>
              <div class="cart__paymentTotal border-t border-gray-100 bg-gray-50 pt-[20px]">
                <div class="cart__payment">
                  <p class="cart__estimatedAmount">결제예정금액</p>
                  <p class="cart__paymentTotalPrice text-[20px] font-bold">
                    40,680 <span class="unit">원</span>
                  </p>
                </div>
                <p class="cart__accumulate text-end text-sm">
                  <span
                    class="mr-2 rounded-[9px] bg-[#FA622F] px-[0.375rem] py-[0.125rem] text-xs text-white"
                    >적립</span
                  >최대 36원 적립 일반 0.1%
                </p>
              </div>
            </div>
          </div>
          <button
            type="button"
            class="cart__orderButton my-4 h-[56px] w-full rounded-[4px] bg-primary text-base font-semibold text-white">
            주문하기
          </button>
          <div class="cart__couponInfo text-xs text-gray-500">
            <p class="cart__couponInfoList">쿠폰/적립금은 주문서에서 사용 가능합니다</p>
            <p class="cart__couponInfoList">[주문완료] 상태일 경우에만 주문 취소 가능합니다.</p>
            <p class="cart__couponInfoList">
              [마이컬리 > 주문내역 상세페이지] 에서 직접 취소하실 수 있습니다.
            </p>
            <p class="cart__couponInfoList">
              쿠폰, 적립금 사용 금액을 제외한 실 결제 금액 기준으로 최종 산정됩니다.
            </p>
            <p class="cart__couponInfoList">
              상품별로 적립금 지급 기준이 다를 수 있습니다. (상품 상세 페이지에서 확인 가능합니다)
            </p>
          </div>
        </section>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__inner container__width mx-auto mt-[4.1875rem]">
        <div class="footer__innerTop mb-8 mt-[2.392857142857143rem] flex justify-between">
          <div class="footer__service flex-1">
            <h2 class="footer__serviceTitle text-lg font-bold">고객행복센터</h2>
            <div class="footer__serviceInfo flex gap-2 py-4">
              <p class="footer__serviceNumber inline-block pt-2 text-3xl font-bold">1644-1107</p>
              <p class="footer__serviceTime inline-block py-4 text-base font-bold">
                월~토요일 오전 7시 - 오후 6시
              </p>
            </div>
            <ul class="footer__list">
              <li class="footer__item footer__btnContent">
                <a class="footer__itemButton footer__itemBtnStyle" href="#">카카오톡 문의</a>
                <div>
                  <p>
                    <span>월~토요일</span>
                    <span class="divider" aria-hidden="true">|</span>
                    <span>오전 7시 - 오후 6시</span>
                  </p>
                  <p>
                    <span>일/공휴일</span>
                    <span class="divider" aria-hidden="true">|</span>
                    <span>오전 7시 - 오후 1시</span>
                  </p>
                </div>
              </li>
              <li class="footer__item footer__btnContent">
                <a class="footer__itemButton footer__itemBtnStyle" href="#">1:1 문의</a>
                <div>
                  <p><span>365일</span></p>
                  <p>
                    <span> 고객센터 운영시간에 순차적으로 답변드리겠습니다. </span>
                  </p>
                </div>
              </li>
              <li class="footer__item footer__btnContent">
                <a class="footer__itemButton footer__itemBtnStyle" href="#">대량주문 문의</a>
                <div>
                  <p>
                    <span>월~금요일</span>
                    <span class="divider" aria-hidden="true">|</span>
                    <span>오전 9시 - 오후 6시</span>
                  </p>
                  <p>
                    <span>점심시간</span>
                    <span class="divider" aria-hidden="true">|</span>
                    <span>낮 12시 - 오후 1시</span>
                  </p>
                </div>
              </li>
            </ul>
            <div class="footer__mail mt-4 text-sm">
              <p>
                비회원 문의 :
                <a href="mailto:help@karlycorp.com" class="primaryColor text-primary"
                  >help@karlycorp.com</a
                >
              </p>
              <p>
                비회원 대량주문 문의 :
                <a href="mailto:help@karlycorp.com" class="primaryColor text-primary"
                  >help@karlycorp.com</a
                >
              </p>
            </div>
          </div>
          <div class="footer__about flex-1">
            <ul class="footer__clause flex gap-4 text-[0.875rem]">
              <li><a href="/">칼리소개</a></li>
              <li><a href="/">칼리소개영상</a></li>
              <li><a href="/">인재채용</a></li>
              <li><a href="/">이용약관</a></li>
              <li><a href="/">개인정보처리방침</a></li>
              <li><a href="/">이용안내</a></li>
            </ul>
            <div class="footer__address py-7 text-sm text-[#333333]">
              <span>법인명(상호) : 주식회사 컬리</span>
              <span class="divider" aria-hidden="true">|</span>
              <span>사업자등록번호 : 261-81-23567</span>
              <span class="divider" aria-hidden="true">|</span>
              <a class="primaryColor text-primary" href="#">사업자정보확인</a>
              <br />
              <span>통신판매업 : 제 2018-서울강남-01646 호</span>
              <span class="divider" aria-hidden="true">|</span>
              <span>개인정보보호책임자 : 이원준</span>
              <br />
              <span>주소 : 서울특별시 강남구 테헤란로 133, 18층(역삼동)</span>
              <span class="divider" aria-hidden="true">|</span>
              <span>대표이사 : 김슬아</span>
              <br />
              <span>입점문의 : 입점문의하기</span>
              <span class="divider" aria-hidden="true">|</span>
              <span>
                제휴문의 :
                <a class="primaryColor text-primary" href="mailto:business@karlycorp.com">
                  business@karlycorp.com
                </a>
              </span>
              <br />
              <span>
                채용 문의 :
                <a class="primaryColor text-primary" href="mailto:recruit@karlycorp.com">
                  recruit@karlycorp.com
                </a>
              </span>
              <br />
              <span>팩스 : 070 - 7500 - 6098</span>
            </div>
            <div>
              <ul class="footer__snsList flex gap-5">
                <li class="footer__snsItem">
                  <a target="_blank" href="/">
                    <img
                      class="footer__snsImg footer__Img"
                      src="/assets/images/footer/ic-blog.svg"
                      alt="컬리 네이버블로그 바로가기" />
                  </a>
                </li>
                <li class="footer__snsItem">
                  <a target="_blank" href="/">
                    <img
                      class="footer__snsImg footer__Img"
                      src="/assets/images/footer/ic-face-book.svg"
                      alt="컬리 페이스북 바로가기" />
                  </a>
                </li>
                <li class="footer__snsItem">
                  <a target="_blank" href="/">
                    <img
                      class="footer__snsImg footer__Img"
                      src="/assets/images/footer/ic-instagram.svg"
                      alt="컬리 인스타그램 바로가기" />
                  </a>
                </li>
                <li class="footer__snsItem">
                  <a target="_blank" href="/">
                    <img
                      class="footer__snsImg footer__Img"
                      src="/assets/images/footer/ic-naver-post.svg"
                      alt="컬리 네이버 바로가기" />
                  </a>
                </li>
                <li class="footer__snsItem">
                  <a target="_blank" href="/">
                    <img
                      class="footer__snsImg footer__Img"
                      src="/assets/images/footer/ic-youtube.svg"
                      alt="컬리 유튜브 바로가기" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__middle border__top mb-8 pt-6">
          <ul class="footer__logoList flex__between footer__lineHeight">
            <li>
              <a href="#" target="_blank" class="footer__logoItem footer__logoFlex">
                <img
                  class="footer__logoImg"
                  src="/assets/images/footer/logo-isms.svg"
                  alt="ISMS 로고" />
                <p class="footer__logoInfo footer__font">
                  [인증범위] 마켓칼리 쇼핑몰 서비스 개발 운영
                  <br />
                  (심사받지 않은 물리적 인프라 제외)
                  <br />
                  [유효기간] 2022.01.19 ~ 2025.01.18
                </p>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" class="footer__logoItem footer__logoFlex">
                <img
                  class="footer__logoImg"
                  src="/assets/images/footer/logo-privacy.svg"
                  alt="개인정보보호 인증 로고" />
                <p class="footer__logoInfo footer__font">
                  개인정보보호 우수 웹사이트
                  <br />
                  개인정보처리시스템 인증(ePRIVACY PLUS)
                </p>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" class="footer__logoItem footer__logoFlex">
                <img
                  class="footer__logoImg"
                  src="/assets/images/footer/logo-tosspayments.svg"
                  alt="payments 로고" />
                <p class="footer__logoInfo footer__font">
                  토스페이먼츠 구매안전(에스크로) 서비스
                  <br />
                  를 이용하실 수 있습니다.
                </p>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" class="footer__logoItem footer__logoFlex">
                <img
                  class="footer__logoImg"
                  src="/assets/images/footer/logo-woori-bank.svg"
                  alt="우리은행 로고" />
                <p class="footer__logoInfo footer__font">
                  고객님이 현금으로 결제한 금액에 대해 우리은행과
                  <br />
                  채무지급보증 계약을 체결하여 안전거래를 보장하고
                  <br />
                  있습니다.
                </p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__bottomWrapper footer__lineHeight footer__wrapperStyle">
        <div class="footer__bottom footer__bottomFont container__width mt-5 text-center">
          <p>
            마켓컬리에서 판매되는 상품 중에는 마켓컬리에 입점한 개별 판매자가 판매하는
            마켓플레이스(오픈마켓) 상품이 포함되어 있습니다.
          </p>
          <p>
            마켓플레이스(오픈마켓) 상품의 경우 컬리는 통신판매중개자로서 통신판매의 당사자가
            아닙니다. 컬리는 해당 상품의 주문, 품질, 교환/환불 등 의무와 책임을 부담하지 않습니다.
          </p>
          <br />
          <p>&copy; KURLY CORP. ALL RIGHTS RESERVED</p>
        </div>
      </div>
    </footer>
  </body>
</html>
