<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="8arseInt" />
    <meta name="keywords" content="칼리,베스트,탱탱쫄면,선쿠션,세탁세제" />
    <meta
      name="description"
      content="지금 칼리에서 제공하는 다양한 베스트 상품을 확인해보세요." />
    <title>베스트 - 칼리</title>
    <link
      rel="shortcut icon"
      href="https://res.kurly.com/favicon.ico"
      type="res/ico" />
    <link
      rel="preload"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
    <link rel="stylesheet" href="./../css/main.css" />
  </head>

  <body>
    <header></header>
    <main class="text-content">
      <h2
        class="product__best mx-auto my-12 w-container text-center text-lg font-semibold text-[#000]">
        베스트
      </h2>
      <section
        class="productWrapper mx-auto flex w-container justify-between gap-12">
        <div class="product__filter w-[220px]">
          <div
            class="flex justify-between border-b border-[#E1E1E1] py-[14px] filter">
            <span class="filter__title font-semibold">필터</span>
            <button type="reset" class="filter__reset text-xs text-[#A6A6A6]">
              초기화
            </button>
          </div>
          <button
            type="button"
            class="flex w-full items-center justify-between border-b border-[#E1E1E1] py-[14px] filter">
            <span
              class="filter__title filter__mark font-semibold after:ml-1 after:text-sm after:text-[#A6A6A6] after:content-['1']"
              >카테고리</span
            >
            <img
              src="/assets/images/product-list/ic-arrow-down.svg"
              alt="카테고리 펼쳐보기"
              class="filter__fold" />
          </button>
          <div class="border-b border-[#E1E1E1]">
            <button
              type="button"
              class="flex w-full justify-between py-[14px] filter">
              <span class="filter__title font-semibold">브랜드</span>
              <img
                src="/assets/images/product-list/ic-arrow-up.svg"
                alt="카테고리 펼쳐보기" />
            </button>
            <ul class="filter__list">
              <li class="filter__item relative flex pb-4 pt-2">
                <input
                  type="checkbox"
                  class="filter__checkbox absolute opacity-0"
                  name="gamzabatt"
                  id="gamzabatt" />
                <label
                  for="gamzabatt"
                  class="filter__label flex items-center gap-2 after:text-sm after:text-[#A6A6A6] after:content-['1']">
                  <span
                    class="h-6 w-6 bg-[url('/assets/images/product-list/ic-unchecked.svg')]"></span>
                  감자밭
                </label>
              </li>
              <li class="filter__item relative flex pb-4 pt-2">
                <input
                  type="checkbox"
                  class="filter__checkbox peer absolute opacity-0"
                  name="gangnamnoodle"
                  id="gangnamnoodle" />
                <label
                  for="gangnamnoodle"
                  class="filter__label flex items-center gap-2 after:text-sm after:text-[#A6A6A6] after:content-['1']">
                  <span
                    class="h-6 w-6 bg-[url('/assets/images/product-list/ic-unchecked.svg')]"></span>
                  강남면옥
                </label>
              </li>
              <li class="filter__item relative flex pb-4 pt-2">
                <input
                  type="checkbox"
                  class="filter__checkbox absolute opacity-0"
                  name="kyungnampharm"
                  id="kyungnampharm" />
                <label
                  for="kyungnampharm"
                  class="filter__label flex items-center gap-2 after:text-sm after:text-[#A6A6A6] after:content-['1']">
                  <span
                    class="h-6 w-6 bg-[url('/assets/images/product-list/ic-unchecked.svg')]"></span>
                  경남제약
                </label>
              </li>
              <li class="filter__item relative flex pb-4 pt-2">
                <input
                  type="checkbox"
                  class="filter__checkbox absolute opacity-0"
                  name="gyeongbokgung"
                  id="gyeongbokgung" />
                <label
                  for="gyeongbokgung"
                  class="filter__label flex items-center gap-2 after:text-sm after:text-[#A6A6A6] after:content-['1']">
                  <span
                    class="h-6 w-6 bg-[url('/assets/images/product-list/ic-unchecked.svg')]"></span>
                  경복궁
                </label>
              </li>
              <li class="filter__item relative flex pb-4 pt-2">
                <input
                  type="checkbox"
                  class="filter__checkbox absolute opacity-0"
                  name="goraesa"
                  id="goraesa" />
                <label
                  for="goraesa"
                  class="filter__label flex items-center gap-2 after:text-sm after:text-[#A6A6A6] after:content-['1']">
                  <span
                    class="h-6 w-6 bg-[url('/assets/images/product-list/ic-unchecked.svg')]"></span>
                  고래사
                </label>
              </li>
              <li class="filter__item relative flex pb-4 pt-2">
                <input
                  type="checkbox"
                  class="filter__checkbox absolute opacity-0"
                  name="mandugongbang"
                  id="mandugongbang" />
                <label
                  for="mandugongbang"
                  class="filter__label flex items-center gap-2 after:text-sm after:text-[#A6A6A6] after:content-['1']">
                  <span
                    class="h-6 w-6 bg-[url('/assets/images/product-list/ic-unchecked.svg')]"></span>
                  고메공방
                </label>
              </li>
              <li class="filter__item relative flex pb-4 pt-2">
                <input
                  type="checkbox"
                  class="filter__checkbox absolute opacity-0"
                  name="goonadiet"
                  id="goonadiet" />
                <label
                  for="goonadiet"
                  class="filter__label flex items-center gap-2 after:text-sm after:text-[#A6A6A6] after:content-['1']">
                  <span
                    class="h-6 w-6 bg-[url('/assets/images/product-list/ic-unchecked.svg')]"></span>
                  고온어다이어트
                </label>
              </li>
              <li class="filter__item relative flex pb-4 pt-2">
                <input
                  type="checkbox"
                  class="filter__checkbox absolute opacity-0"
                  name="kyotomarble"
                  id="kyotomarble" />
                <label
                  for="kyotomarble"
                  class="filter__label flex items-center gap-2 after:text-sm after:text-[#A6A6A6] after:content-['1']">
                  <span
                    class="h-6 w-6 bg-[url('/assets/images/product-list/ic-unchecked.svg')]"></span>
                  교토마블
                </label>
              </li>
              <li class="filter__item relative flex pb-4 pt-2">
                <input
                  type="checkbox"
                  class="filter__checkbox absolute opacity-0"
                  name="granolaHouse"
                  id="granolaHouse" />
                <label
                  for="granolaHouse"
                  class="filter__label flex items-center gap-2 after:text-sm after:text-[#A6A6A6] after:content-['1']">
                  <span
                    class="h-6 w-6 bg-[url('/assets/images/product-list/ic-unchecked.svg')]"></span>
                  그래놀라 하우스
                </label>
              </li>
              <li class="filter__item relative flex pb-4 pt-2">
                <input
                  type="checkbox"
                  class="filter__checkbox absolute opacity-0"
                  name="greetsSignatureLamb"
                  id="greetsSignatureLamb" />
                <label
                  for="greetsSignatureLamb"
                  class="filter__label flex items-center gap-2 after:text-sm after:text-[#A6A6A6] after:content-['1']">
                  <span
                    class="h-6 w-6 bg-[url('/assets/images/product-list/ic-unchecked.svg')]"></span>
                  그리츠 시그니처 램
                </label>
              </li>
              <li class="pb-3 text-center">
                <button type="button" class="filter__brandPlus text-sm">
                  브랜드 더보기 >
                </button>
              </li>
            </ul>
          </div>
          <button
            type="button"
            class="flex w-full items-center justify-between border-b border-[#E1E1E1] py-[14px] filter">
            <span class="filter__title font-semibold">가격</span>
            <img
              src="/assets/images/product-list/ic-arrow-down.svg"
              alt="카테고리 펼쳐보기" />
          </button>
          <button
            type="button"
            class="flex w-full items-center justify-between border-b border-[#E1E1E1] py-[14px] filter">
            <span class="filter__title font-semibold">혜택</span>
            <img
              src="/assets/images/product-list/ic-arrow-down.svg"
              alt="카테고리 펼쳐보기" />
          </button>
          <button
            type="button"
            class="flex w-full items-center justify-between border-b border-[#E1E1E1] py-[14px] filter">
            <span class="filter__title font-semibold">유형</span>
            <img
              src="/assets/images/product-list/ic-arrow-down.svg"
              alt="카테고리 펼쳐보기" />
          </button>
          <button
            type="button"
            class="flex w-full items-center justify-between border-b border-[#E1E1E1] py-[14px] filter">
            <span class="filter__title font-semibold">특정상품 제외</span>
            <img
              src="/assets/images/product-list/ic-arrow-down.svg"
              alt="카테고리 펼쳐보기" />
          </button>
        </div>
        <div class="product__main">
          <div class="product__top mb-5 flex justify-between">
            <span class="product__total font-semibold">총 284건</span>
            <ul class="product__option flex">
              <li class="flex items-center gap-1">
                <a href="#" class="product__align product__focus font-semibold">
                  <span>추천순</span>
                </a>
                <img
                  src="/assets/images/product-list/ic-help.svg"
                  class="product__alignHelp"
                  alt="추천순 도움말"
                  title="소비자 인기도(판매량, 판매금액, 조회수 등), 상품 출시일, 수요 적합성, 상품 운영상 필요 등을 종합적으로 고려한 순서입니다." />
              </li>
              <li class="text-[#A6A6A6]">
                <span
                  aria-hidden="true"
                  class="product__alignDeco cursor-default"
                  >ㅣ</span
                ><a href="#" class="product__align product__alignList"
                  >신상품순</a
                >
              </li>
              <li class="text-[#A6A6A6]">
                <span
                  aria-hidden="true"
                  class="product__alignDeco cursor-default"
                  >ㅣ</span
                ><a href="#" class="product__align product__alignList"
                  >판매량순</a
                >
              </li>
              <li class="text-[#A6A6A6]">
                <span
                  aria-hidden="true"
                  class="product__alignDeco cursor-default"
                  >ㅣ</span
                ><a href="#" class="product__align product__alignList"
                  >혜택순</a
                >
              </li>
              <li class="text-[#A6A6A6]">
                <span
                  aria-hidden="true"
                  class="product__alignDeco cursor-default"
                  >ㅣ</span
                ><a href="#" class="product__align product__alignList"
                  >낮은가격순</a
                >
              </li>
              <li class="text-[#A6A6A6]">
                <span
                  aria-hidden="true"
                  class="product__alignDeco cursor-default"
                  >ㅣ</span
                ><a href="#" class="product__align product__alignList"
                  >높은가격순</a
                >
              </li>
            </ul>
          </div>
          <ul class="product__list grid grid-cols-3 gap-x-4 gap-y-6">
            <li class="product__item relative mb-[26px]">
              <a href="./product-detail.html">
                <figure class="best__item">
                  <img
                    src="/assets/images/product/tangtang/thumbnail.svg"
                    alt=""
                    aria-labelledby="bestTangtang_1"
                    class="best__img mb-4" />
                  <figcaption class="best__caption">
                    <h3 class="a11y sr-only">[풀무원] 탱탱쫄면(4개입)</h3>
                    <dl class="relative">
                      <dt class="a11y sr-only">상품명</dt>
                      <dd id="bestTangtang_1" class="best__name mb-2 pt-[26px]">
                        [풀무원] 탱탱쫄면(4개입)
                      </dd>
                      <dt class="a11y sr-only">가격</dt>
                      <dd class="best__price mb-2 text-lg font-semibold">
                        4,980원
                      </dd>
                      <dt class="a11y sr-only">상품설명</dt>
                      <dd class="best__info mb-2 text-sm text-[#898989]">
                        튀기지 않아 부담없는 매콤함
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">배송안내</dt>
                      <dd
                        class="best__delivery absolute top-0 text-sm font-semibold text-[#898989]">
                        샛별배송
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">단독</dt>
                      <dd
                        class="best__only mr-2 inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold text-primary">
                        Karly Only
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">수량정보</dt>
                      <dd
                        class="best__limit inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold">
                        한정수량
                      </dd>
                    </dl>
                  </figcaption>
                </figure>
              </a>
              <button
                type="button"
                title="장바구니에 담기"
                class="accentCart_1 absolute right-4 top-64 h-[45px] w-[45px] bg-[url('/assets/images/main/ic-add-cart.svg')]"></button>
            </li>
            <li class="product__item relative mb-[26px]">
              <a href="#">
                <figure class="best__item">
                  <img
                    src="/assets/images/product/suncushion/thumbnail.svg"
                    alt=""
                    aria-labelledby="bestSuncushion_1"
                    class="best__img mb-4" />
                  <figcaption class="best__caption">
                    <h3 class="a11y sr-only">
                      [온더바디] 죠르디 시카 자석 선쿠션
                    </h3>
                    <dl class="relative">
                      <dt class="a11y sr-only">상품명</dt>
                      <dd
                        id="bestSuncushion_1"
                        class="best__name mb-2 pt-[26px]">
                        [온더바디] 죠르디 시카 자석 선쿠션
                      </dd>
                      <dt class="a11y sr-only">가격</dt>
                      <dd class="best__price mb-2 text-lg font-semibold">
                        32,500원
                      </dd>
                      <dt class="a11y sr-only">상품설명</dt>
                      <dd class="best__info mb-2 text-sm text-[#898989]">
                        끈적임 없이 보송한 무기자차 선쿠션
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">배송안내</dt>
                      <dd
                        class="best__delivery absolute top-0 text-sm font-semibold text-[#898989]">
                        샛별배송
                      </dd>
                    </dl>
                  </figcaption>
                </figure>
              </a>
              <button
                type="button"
                title="장바구니에 담기"
                class="accentCart_1 absolute right-4 top-64 h-[45px] w-[45px] bg-[url('/assets/images/main/ic-add-cart.svg')]"></button>
            </li>
            <li class="product__item relative mb-[26px]">
              <a href="#">
                <figure class="best__item">
                  <img
                    src="/assets/images/product/detergent/thumbnail.svg"
                    alt=""
                    aria-labelledby="bestDetergent_1"
                    class="best__img mb-4" />
                  <figcaption class="best__caption">
                    <h3 class="a11y sr-only">[프로쉬] 베이비 세탁세제</h3>
                    <dl class="relative">
                      <dt class="a11y sr-only">상품명</dt>
                      <dd
                        id="bestDetergent_1"
                        class="best__name mb-2 pt-[26px]">
                        [프로쉬] 베이비 세탁세제
                      </dd>
                      <dt class="a11y sr-only">정상가격</dt>
                      <dd
                        class="best__regularPrice absolute top-[100px] text-sm text-[#898989]">
                        <del>24,000원</del>
                      </dd>
                      <dt class="a11y sr-only">할인율</dt>
                      <dd
                        class="best__discountPercent mr-2 inline text-lg font-semibold text-[#FA622F]">
                        24%
                      </dd>
                      <dt class="a11y sr-only">할인가격</dt>
                      <dd class="best__price mb-2 inline text-lg font-semibold">
                        <ins class="best__discountPrice no-underline"
                          >18,900원</ins
                        >
                      </dd>
                      <dt class="a11y sr-only">상품설명</dt>
                      <dd
                        class="best__info mb-2 mt-[35px] text-sm text-[#898989]">
                        성분을 꼼꼼히 따져 골라 더욱 편안한
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">배송안내</dt>
                      <dd
                        class="best__deliveryDetergent absolute top-0 text-sm font-semibold text-[#898989]">
                        샛별배송
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">단독</dt>
                      <dd
                        class="best__only mr-2 inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold text-primary">
                        Karly Only
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">수량정보</dt>
                      <dd
                        class="best__limit inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold">
                        한정수량
                      </dd>
                    </dl>
                  </figcaption>
                </figure>
              </a>
              <button
                type="button"
                title="장바구니에 담기"
                class="accentCart_1 absolute right-4 top-64 h-[45px] w-[45px] bg-[url('/assets/images/main/ic-add-cart.svg')]"></button>
            </li>
            <li class="product__item relative mb-[26px]">
              <a href="./product-detail.html">
                <figure class="best__item">
                  <img
                    src="/assets/images/product/tangtang/thumbnail.svg"
                    alt=""
                    aria-labelledby="bestTangtang_1"
                    class="best__img mb-4" />
                  <figcaption class="best__caption">
                    <h3 class="a11y sr-only">[풀무원] 탱탱쫄면(4개입)</h3>
                    <dl class="relative">
                      <dt class="a11y sr-only">상품명</dt>
                      <dd id="bestTangtang_1" class="best__name mb-2 pt-[26px]">
                        [풀무원] 탱탱쫄면(4개입)
                      </dd>
                      <dt class="a11y sr-only">가격</dt>
                      <dd class="best__price mb-2 text-lg font-semibold">
                        4,980원
                      </dd>
                      <dt class="a11y sr-only">상품설명</dt>
                      <dd class="best__info mb-2 text-sm text-[#898989]">
                        튀기지 않아 부담없는 매콤함
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">배송안내</dt>
                      <dd
                        class="best__delivery absolute top-0 text-sm font-semibold text-[#898989]">
                        샛별배송
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">단독</dt>
                      <dd
                        class="best__only mr-2 inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold text-primary">
                        Karly Only
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">수량정보</dt>
                      <dd
                        class="best__limit inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold">
                        한정수량
                      </dd>
                    </dl>
                  </figcaption>
                </figure>
              </a>
              <button
                type="button"
                title="장바구니에 담기"
                class="accentCart_1 absolute right-4 top-64 h-[45px] w-[45px] bg-[url('/assets/images/main/ic-add-cart.svg')]"></button>
            </li>
            <li class="product__item relative mb-[26px]">
              <a href="#">
                <figure class="best__item">
                  <img
                    src="/assets/images/product/suncushion/thumbnail.svg"
                    alt=""
                    aria-labelledby="bestSuncushion_1"
                    class="best__img mb-4" />
                  <figcaption class="best__caption">
                    <h3 class="a11y sr-only">
                      [온더바디] 죠르디 시카 자석 선쿠션
                    </h3>
                    <dl class="relative">
                      <dt class="a11y sr-only">상품명</dt>
                      <dd
                        id="bestSuncushion_1"
                        class="best__name mb-2 pt-[26px]">
                        [온더바디] 죠르디 시카 자석 선쿠션
                      </dd>
                      <dt class="a11y sr-only">가격</dt>
                      <dd class="best__price mb-2 text-lg font-semibold">
                        32,500원
                      </dd>
                      <dt class="a11y sr-only">상품설명</dt>
                      <dd class="best__info mb-2 text-sm text-[#898989]">
                        끈적임 없이 보송한 무기자차 선쿠션
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">배송안내</dt>
                      <dd
                        class="best__delivery absolute top-0 text-sm font-semibold text-[#898989]">
                        샛별배송
                      </dd>
                    </dl>
                  </figcaption>
                </figure>
              </a>
              <button
                type="button"
                title="장바구니에 담기"
                class="accentCart_1 absolute right-4 top-64 h-[45px] w-[45px] bg-[url('/assets/images/main/ic-add-cart.svg')]"></button>
            </li>
            <li class="product__item relative mb-[26px]">
              <a href="#">
                <figure class="best__item">
                  <img
                    src="/assets/images/product/detergent/thumbnail.svg"
                    alt=""
                    aria-labelledby="bestDetergent_1"
                    class="best__img mb-4" />
                  <figcaption class="best__caption">
                    <h3 class="a11y sr-only">[프로쉬] 베이비 세탁세제</h3>
                    <dl class="relative">
                      <dt class="a11y sr-only">상품명</dt>
                      <dd
                        id="bestDetergent_1"
                        class="best__name mb-2 pt-[26px]">
                        [프로쉬] 베이비 세탁세제
                      </dd>
                      <dt class="a11y sr-only">정상가격</dt>
                      <dd
                        class="best__regularPrice absolute top-[100px] text-sm text-[#898989]">
                        <del>24,000원</del>
                      </dd>
                      <dt class="a11y sr-only">할인율</dt>
                      <dd
                        class="best__discountPercent mr-2 inline text-lg font-semibold text-[#FA622F]">
                        24%
                      </dd>
                      <dt class="a11y sr-only">할인가격</dt>
                      <dd class="best__price mb-2 inline text-lg font-semibold">
                        <ins class="best__discountPrice no-underline"
                          >18,900원</ins
                        >
                      </dd>
                      <dt class="a11y sr-only">상품설명</dt>
                      <dd
                        class="best__info mb-2 mt-[35px] text-sm text-[#898989]">
                        성분을 꼼꼼히 따져 골라 더욱 편안한
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">배송안내</dt>
                      <dd
                        class="best__deliveryDetergent absolute top-0 text-sm font-semibold text-[#898989]">
                        샛별배송
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">단독</dt>
                      <dd
                        class="best__only mr-2 inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold text-primary">
                        Karly Only
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">수량정보</dt>
                      <dd
                        class="best__limit inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold">
                        한정수량
                      </dd>
                    </dl>
                  </figcaption>
                </figure>
              </a>
              <button
                type="button"
                title="장바구니에 담기"
                class="accentCart_1 absolute right-4 top-64 h-[45px] w-[45px] bg-[url('/assets/images/main/ic-add-cart.svg')]"></button>
            </li>
            <li class="product__item relative mb-[26px]">
              <a href="./product-detail.html">
                <figure class="best__item">
                  <img
                    src="/assets/images/product/tangtang/thumbnail.svg"
                    alt=""
                    aria-labelledby="bestTangtang_1"
                    class="best__img mb-4" />
                  <figcaption class="best__caption">
                    <h3 class="a11y sr-only">[풀무원] 탱탱쫄면(4개입)</h3>
                    <dl class="relative">
                      <dt class="a11y sr-only">상품명</dt>
                      <dd id="bestTangtang_1" class="best__name mb-2 pt-[26px]">
                        [풀무원] 탱탱쫄면(4개입)
                      </dd>
                      <dt class="a11y sr-only">가격</dt>
                      <dd class="best__price mb-2 text-lg font-semibold">
                        4,980원
                      </dd>
                      <dt class="a11y sr-only">상품설명</dt>
                      <dd class="best__info mb-2 text-sm text-[#898989]">
                        튀기지 않아 부담없는 매콤함
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">배송안내</dt>
                      <dd
                        class="best__delivery absolute top-0 text-sm font-semibold text-[#898989]">
                        샛별배송
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">단독</dt>
                      <dd
                        class="best__only mr-2 inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold text-primary">
                        Karly Only
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">수량정보</dt>
                      <dd
                        class="best__limit inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold">
                        한정수량
                      </dd>
                    </dl>
                  </figcaption>
                </figure>
              </a>
              <button
                type="button"
                title="장바구니에 담기"
                class="accentCart_1 absolute right-4 top-64 h-[45px] w-[45px] bg-[url('/assets/images/main/ic-add-cart.svg')]"></button>
            </li>
            <li class="product__item relative mb-[26px]">
              <a href="#">
                <figure class="best__item">
                  <img
                    src="/assets/images/product/suncushion/thumbnail.svg"
                    alt=""
                    aria-labelledby="bestSuncushion_1"
                    class="best__img mb-4" />
                  <figcaption class="best__caption">
                    <h3 class="a11y sr-only">
                      [온더바디] 죠르디 시카 자석 선쿠션
                    </h3>
                    <dl class="relative">
                      <dt class="a11y sr-only">상품명</dt>
                      <dd
                        id="bestSuncushion_1"
                        class="best__name mb-2 pt-[26px]">
                        [온더바디] 죠르디 시카 자석 선쿠션
                      </dd>
                      <dt class="a11y sr-only">가격</dt>
                      <dd class="best__price mb-2 text-lg font-semibold">
                        32,500원
                      </dd>
                      <dt class="a11y sr-only">상품설명</dt>
                      <dd class="best__info mb-2 text-sm text-[#898989]">
                        끈적임 없이 보송한 무기자차 선쿠션
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">배송안내</dt>
                      <dd
                        class="best__delivery absolute top-0 text-sm font-semibold text-[#898989]">
                        샛별배송
                      </dd>
                    </dl>
                  </figcaption>
                </figure>
              </a>
              <button
                type="button"
                title="장바구니에 담기"
                class="accentCart_1 absolute right-4 top-64 h-[45px] w-[45px] bg-[url('/assets/images/main/ic-add-cart.svg')]"></button>
            </li>
            <li class="product__item relative mb-[26px]">
              <a href="#">
                <figure class="best__item">
                  <img
                    src="/assets/images/product/detergent/thumbnail.svg"
                    alt=""
                    aria-labelledby="bestDetergent_1"
                    class="best__img mb-4" />
                  <figcaption class="best__caption">
                    <h3 class="a11y sr-only">[프로쉬] 베이비 세탁세제</h3>
                    <dl class="relative">
                      <dt class="a11y sr-only">상품명</dt>
                      <dd
                        id="bestDetergent_1"
                        class="best__name mb-2 pt-[26px]">
                        [프로쉬] 베이비 세탁세제
                      </dd>
                      <dt class="a11y sr-only">정상가격</dt>
                      <dd
                        class="best__regularPrice absolute top-[100px] text-sm text-[#898989]">
                        <del>24,000원</del>
                      </dd>
                      <dt class="a11y sr-only">할인율</dt>
                      <dd
                        class="best__discountPercent mr-2 inline text-lg font-semibold text-[#FA622F]">
                        24%
                      </dd>
                      <dt class="a11y sr-only">할인가격</dt>
                      <dd class="best__price mb-2 inline text-lg font-semibold">
                        <ins class="best__discountPrice no-underline"
                          >18,900원</ins
                        >
                      </dd>
                      <dt class="a11y sr-only">상품설명</dt>
                      <dd
                        class="best__info mb-2 mt-[35px] text-sm text-[#898989]">
                        성분을 꼼꼼히 따져 골라 더욱 편안한
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">배송안내</dt>
                      <dd
                        class="best__deliveryDetergent absolute top-0 text-sm font-semibold text-[#898989]">
                        샛별배송
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">단독</dt>
                      <dd
                        class="best__only mr-2 inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold text-primary">
                        Karly Only
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">수량정보</dt>
                      <dd
                        class="best__limit inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold">
                        한정수량
                      </dd>
                    </dl>
                  </figcaption>
                </figure>
              </a>
              <button
                type="button"
                title="장바구니에 담기"
                class="accentCart_1 absolute right-4 top-64 h-[45px] w-[45px] bg-[url('/assets/images/main/ic-add-cart.svg')]"></button>
            </li>
            <li class="product__item relative mb-[26px]">
              <a href="./product-detail.html">
                <figure class="best__item">
                  <img
                    src="/assets/images/product/tangtang/thumbnail.svg"
                    alt=""
                    aria-labelledby="bestTangtang_1"
                    class="best__img mb-4" />
                  <figcaption class="best__caption">
                    <h3 class="a11y sr-only">[풀무원] 탱탱쫄면(4개입)</h3>
                    <dl class="relative">
                      <dt class="a11y sr-only">상품명</dt>
                      <dd id="bestTangtang_1" class="best__name mb-2 pt-[26px]">
                        [풀무원] 탱탱쫄면(4개입)
                      </dd>
                      <dt class="a11y sr-only">가격</dt>
                      <dd class="best__price mb-2 text-lg font-semibold">
                        4,980원
                      </dd>
                      <dt class="a11y sr-only">상품설명</dt>
                      <dd class="best__info mb-2 text-sm text-[#898989]">
                        튀기지 않아 부담없는 매콤함
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">배송안내</dt>
                      <dd
                        class="best__delivery absolute top-0 text-sm font-semibold text-[#898989]">
                        샛별배송
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">단독</dt>
                      <dd
                        class="best__only mr-2 inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold text-primary">
                        Karly Only
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">수량정보</dt>
                      <dd
                        class="best__limit inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold">
                        한정수량
                      </dd>
                    </dl>
                  </figcaption>
                </figure>
              </a>
              <button
                type="button"
                title="장바구니에 담기"
                class="accentCart_1 absolute right-4 top-64 h-[45px] w-[45px] bg-[url('/assets/images/main/ic-add-cart.svg')]"></button>
            </li>
            <li class="product__item relative mb-[26px]">
              <a href="#">
                <figure class="best__item">
                  <img
                    src="/assets/images/product/suncushion/thumbnail.svg"
                    alt=""
                    aria-labelledby="bestSuncushion_1"
                    class="best__img mb-4" />
                  <figcaption class="best__caption">
                    <h3 class="a11y sr-only">
                      [온더바디] 죠르디 시카 자석 선쿠션
                    </h3>
                    <dl class="relative">
                      <dt class="a11y sr-only">상품명</dt>
                      <dd
                        id="bestSuncushion_1"
                        class="best__name mb-2 pt-[26px]">
                        [온더바디] 죠르디 시카 자석 선쿠션
                      </dd>
                      <dt class="a11y sr-only">가격</dt>
                      <dd class="best__price mb-2 text-lg font-semibold">
                        32,500원
                      </dd>
                      <dt class="a11y sr-only">상품설명</dt>
                      <dd class="best__info mb-2 text-sm text-[#898989]">
                        끈적임 없이 보송한 무기자차 선쿠션
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">배송안내</dt>
                      <dd
                        class="best__delivery absolute top-0 text-sm font-semibold text-[#898989]">
                        샛별배송
                      </dd>
                    </dl>
                  </figcaption>
                </figure>
              </a>
              <button
                type="button"
                title="장바구니에 담기"
                class="accentCart_1 absolute right-4 top-64 h-[45px] w-[45px] bg-[url('/assets/images/main/ic-add-cart.svg')]"></button>
            </li>
            <li class="product__item relative mb-[26px]">
              <a href="#">
                <figure class="best__item">
                  <img
                    src="/assets/images/product/detergent/thumbnail.svg"
                    alt=""
                    aria-labelledby="bestDetergent_1"
                    class="best__img mb-4" />
                  <figcaption class="best__caption">
                    <h3 class="a11y sr-only">[프로쉬] 베이비 세탁세제</h3>
                    <dl class="relative">
                      <dt class="a11y sr-only">상품명</dt>
                      <dd
                        id="bestDetergent_1"
                        class="best__name mb-2 pt-[26px]">
                        [프로쉬] 베이비 세탁세제
                      </dd>
                      <dt class="a11y sr-only">정상가격</dt>
                      <dd
                        class="best__regularPrice absolute top-[100px] text-sm text-[#898989]">
                        <del>24,000원</del>
                      </dd>
                      <dt class="a11y sr-only">할인율</dt>
                      <dd
                        class="best__discountPercent mr-2 inline text-lg font-semibold text-[#FA622F]">
                        24%
                      </dd>
                      <dt class="a11y sr-only">할인가격</dt>
                      <dd class="best__price mb-2 inline text-lg font-semibold">
                        <ins class="best__discountPrice no-underline"
                          >18,900원</ins
                        >
                      </dd>
                      <dt class="a11y sr-only">상품설명</dt>
                      <dd
                        class="best__info mb-2 mt-[35px] text-sm text-[#898989]">
                        성분을 꼼꼼히 따져 골라 더욱 편안한
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">배송안내</dt>
                      <dd
                        class="best__deliveryDetergent absolute top-0 text-sm font-semibold text-[#898989]">
                        샛별배송
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">단독</dt>
                      <dd
                        class="best__only mr-2 inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold text-primary">
                        Karly Only
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">수량정보</dt>
                      <dd
                        class="best__limit inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold">
                        한정수량
                      </dd>
                    </dl>
                  </figcaption>
                </figure>
              </a>
              <button
                type="button"
                title="장바구니에 담기"
                class="accentCart_1 absolute right-4 top-64 h-[45px] w-[45px] bg-[url('/assets/images/main/ic-add-cart.svg')]"></button>
            </li>
            <li class="product__item relative mb-[26px]">
              <a href="./product-detail.html">
                <figure class="best__item">
                  <img
                    src="/assets/images/product/tangtang/thumbnail.svg"
                    alt=""
                    aria-labelledby="bestTangtang_1"
                    class="best__img mb-4" />
                  <figcaption class="best__caption">
                    <h3 class="a11y sr-only">[풀무원] 탱탱쫄면(4개입)</h3>
                    <dl class="relative">
                      <dt class="a11y sr-only">상품명</dt>
                      <dd id="bestTangtang_1" class="best__name mb-2 pt-[26px]">
                        [풀무원] 탱탱쫄면(4개입)
                      </dd>
                      <dt class="a11y sr-only">가격</dt>
                      <dd class="best__price mb-2 text-lg font-semibold">
                        4,980원
                      </dd>
                      <dt class="a11y sr-only">상품설명</dt>
                      <dd class="best__info mb-2 text-sm text-[#898989]">
                        튀기지 않아 부담없는 매콤함
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">배송안내</dt>
                      <dd
                        class="best__delivery absolute top-0 text-sm font-semibold text-[#898989]">
                        샛별배송
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">단독</dt>
                      <dd
                        class="best__only mr-2 inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold text-primary">
                        Karly Only
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">수량정보</dt>
                      <dd
                        class="best__limit inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold">
                        한정수량
                      </dd>
                    </dl>
                  </figcaption>
                </figure>
              </a>
              <button
                type="button"
                title="장바구니에 담기"
                class="accentCart_1 absolute right-4 top-64 h-[45px] w-[45px] bg-[url('/assets/images/main/ic-add-cart.svg')]"></button>
            </li>
            <li class="product__item relative mb-[26px]">
              <a href="#">
                <figure class="best__item">
                  <img
                    src="/assets/images/product/suncushion/thumbnail.svg"
                    alt=""
                    aria-labelledby="bestSuncushion_1"
                    class="best__img mb-4" />
                  <figcaption class="best__caption">
                    <h3 class="a11y sr-only">
                      [온더바디] 죠르디 시카 자석 선쿠션
                    </h3>
                    <dl class="relative">
                      <dt class="a11y sr-only">상품명</dt>
                      <dd
                        id="bestSuncushion_1"
                        class="best__name mb-2 pt-[26px]">
                        [온더바디] 죠르디 시카 자석 선쿠션
                      </dd>
                      <dt class="a11y sr-only">가격</dt>
                      <dd class="best__price mb-2 text-lg font-semibold">
                        32,500원
                      </dd>
                      <dt class="a11y sr-only">상품설명</dt>
                      <dd class="best__info mb-2 text-sm text-[#898989]">
                        끈적임 없이 보송한 무기자차 선쿠션
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">배송안내</dt>
                      <dd
                        class="best__delivery absolute top-0 text-sm font-semibold text-[#898989]">
                        샛별배송
                      </dd>
                    </dl>
                  </figcaption>
                </figure>
              </a>
              <button
                type="button"
                title="장바구니에 담기"
                class="accentCart_1 absolute right-4 top-64 h-[45px] w-[45px] bg-[url('/assets/images/main/ic-add-cart.svg')]"></button>
            </li>
            <li class="product__item relative mb-[26px]">
              <a href="#">
                <figure class="best__item">
                  <img
                    src="/assets/images/product/detergent/thumbnail.svg"
                    alt=""
                    aria-labelledby="bestDetergent_1"
                    class="best__img mb-4" />
                  <figcaption class="best__caption">
                    <h3 class="a11y sr-only">[프로쉬] 베이비 세탁세제</h3>
                    <dl class="relative">
                      <dt class="a11y sr-only">상품명</dt>
                      <dd
                        id="bestDetergent_1"
                        class="best__name mb-2 pt-[26px]">
                        [프로쉬] 베이비 세탁세제
                      </dd>
                      <dt class="a11y sr-only">정상가격</dt>
                      <dd
                        class="best__regularPrice absolute top-[100px] text-sm text-[#898989]">
                        <del>24,000원</del>
                      </dd>
                      <dt class="a11y sr-only">할인율</dt>
                      <dd
                        class="best__discountPercent mr-2 inline text-lg font-semibold text-[#FA622F]">
                        24%
                      </dd>
                      <dt class="a11y sr-only">할인가격</dt>
                      <dd class="best__price mb-2 inline text-lg font-semibold">
                        <ins class="best__discountPrice no-underline"
                          >18,900원</ins
                        >
                      </dd>
                      <dt class="a11y sr-only">상품설명</dt>
                      <dd
                        class="best__info mb-2 mt-[35px] text-sm text-[#898989]">
                        성분을 꼼꼼히 따져 골라 더욱 편안한
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">배송안내</dt>
                      <dd
                        class="best__deliveryDetergent absolute top-0 text-sm font-semibold text-[#898989]">
                        샛별배송
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">단독</dt>
                      <dd
                        class="best__only mr-2 inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold text-primary">
                        Karly Only
                      </dd>
                      <dt aria-hidden="true" class="a11y sr-only">수량정보</dt>
                      <dd
                        class="best__limit inline rounded bg-[#E1E1E1] p-1 text-sm font-semibold">
                        한정수량
                      </dd>
                    </dl>
                  </figcaption>
                </figure>
              </a>
              <button
                type="button"
                title="장바구니에 담기"
                class="accentCart_1 absolute right-4 top-64 h-[45px] w-[45px] bg-[url('/assets/images/main/ic-add-cart.svg')]"></button>
            </li>
          </ul>
          <div class="page mb-20 mt-[60px] flex justify-center">
            <a
              href="#"
              class="page__number flex h-[34px] w-[34px] items-center justify-center border border-[#E1E1E1] text-sm hover:bg-[#F7F7F7]">
              <img
                src="/assets/images/product-list/ic-arrow-left-double.svg"
                alt="처음 페이지로 이동" />
            </a>
            <a
              href="#"
              class="page__number flex h-[34px] w-[34px] items-center justify-center border border-[#E1E1E1] text-sm hover:bg-[#F7F7F7]">
              <img
                src="/assets/images/product-list/ic-arrow-left.svg"
                alt="이전 페이지로 이동" />
            </a>
            <a
              href="#"
              class="page__number flex h-[34px] w-[34px] items-center justify-center border border-[#E1E1E1] bg-[#F7F7F7] text-sm text-[#5F0080] hover:bg-[#F7F7F7]"
              aria-label="1번 패이지로 이동">
              1
            </a>
            <a
              href="#"
              class="page__number flex h-[34px] w-[34px] items-center justify-center border border-[#E1E1E1] text-sm hover:bg-[#F7F7F7]"
              aria-label="2번 패이지로 이동">
              2
            </a>
            <a
              href="#"
              class="page__number flex h-[34px] w-[34px] items-center justify-center border border-[#E1E1E1] text-sm hover:bg-[#F7F7F7]"
              aria-label="3번 패이지로 이동">
              3
            </a>
            <a
              href="#"
              class="page__number flex h-[34px] w-[34px] items-center justify-center border border-[#E1E1E1] text-sm hover:bg-[#F7F7F7]">
              <img
                src="/assets/images/product-list/ic-arrow-right.svg"
                alt="다음 페이지로 이동" />
            </a>
            <a
              href="#"
              class="page__number flex h-[34px] w-[34px] items-center justify-center border border-[#E1E1E1] text-sm hover:bg-[#F7F7F7]">
              <img
                src="/assets/images/product-list/ic-arrow-right-double.svg"
                alt="마지막 페이지로 이동" />
            </a>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
